.home-cont{
    background-color: rgb(224, 224, 224);
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
}
.cont{
background-color: white;
width: 80vw;
padding: 10px;
height: 100vh;
display: flex;
flex-direction: column;
}