.Appbar{
    width: 100%;
    /* background-color: pink; */
    height: 5vh;
    position: fixed;
    top: 0px;
    left: 0px;
    /* padding: 10px; */
    display: flex;
    z-index:1;
    padding: 0 10px;
    flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: rgba(255, 255, 255, 0.848);
backdrop-filter: blur(10px);
}
.links a{
text-decoration: none;
padding: 10px;
color: var(  --text-light);
transition: all 0.2s;

}
.links a:hover{
  background-color: rgba(128, 128, 128, 0.122);
    
    }
    .tbtn{
      height: 100%;
      padding: 10px;
     /* margin: 10px; */

    }
    @media only screen and (max-width: 600px)
    {.links{
      display: none;
    }

    }
    @media only screen and (min-width: 600px)  {
      .tbtn{
       display: none;
  
      }
    }