
*{
    font-family: 'Nunito', sans-serif ;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    --maincolor: #3924AF;
  --bg-light:white;
  --bg-dark:rgb(46, 46, 46);
  --text-light: rgb(28, 28, 28);
  --text-dark:white;
  --light-grey: #f8fafb
}

  

.container{
    min-height: 100vh;

    background-color: var(--light-grey);
}
.main{
    /* background-color: pink; */
}

.banner-home{
    /* margin-top: 5vh; */
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 30vh;
    background: url("https://assets.website-files.com/5e51b3b0337309d672efd94c/5e5346352c16e8d69e1649f2_cover_hero-1.svg");
   
    /* margin */
}
#home-textinput{
border: none;outline: none;


}
.search{
display: flex;
flex-direction: column;
align-items: center;

}
.home-searchbar input{
font-family: 'Raleway', sans-serif ;
font-size: 1.2rem;
width: 100%;
margin: 1vh;
}
.home-searchbar{
position: relative;
top:-30px;
font-family: 'Raleway', sans-serif ;
padding: 0 10px;
display: flex;
height: 60px;
background-color: var(--bg-light);
width: min(600px,93vw);
border-radius: 10px;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.071);
align-items: center;

}
.nores{
    border-radius: 10px;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.071);
display: flex;
flex-direction: column;
padding-top: 20px;
background-color: white;
align-items: center;
justify-content: center;
    overflow: hidden;
 
}
@media only screen and (max-width: 900px)
{  .nores{ width: 90vw;}
}
